registry = https://elilillyco.jfrog.io/elilillyco/api/npm/Lilly-NPM/
_auth = YXJ0aWZhY3RvcnlAbGlzdHMubGlsbHkuY29tOkFLQ3A1YVRTQ3g3elRpS0N6NVg4NmhaUUZ2aXhoeUJvYWZaM01lWEhiTEV4WGNUU0V5M2ZhVjlFY3BVTVd4SGlpM2IyWEVRZFE=
email = artifactory@lists.lilly.com
always-auth = true